body {
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: Hero, Roboto, sans-serif ;
}
.header, .middle-top, .middle, .middle-bottom, footer {
    padding: 10px 20%;
    margin: auto;
}

/*header*/
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    
}
.logo {
    display: flex;
    font-size: 24px;
}
.top-header {
    display: flex;
    justify-content: space-between;
    
}
.links {
   
    font-size: 18px;
    color: #E5E7EB;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    display: inline-block
  
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
/*top-content*/
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#F9FAF8;
}

.main-text {
    
    font-size: 48px;
    font-weight: 900;
    
}

.content {
    padding-right: 50px;
}
.sign-up {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 10px 30px;
    color:#F9FAF8;

}
.img {
    display: flex;
    
}
img {
    max-width: 400px;
    
}
/*middle-top*/
.middle-top {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 50px;
}

.info {
   justify-content: space-evenly;
   align-items: center;
}
.info p {
    display: block;
    font-size: 36px; 
    color: #1F2936;
    font-weight: 900;
}
.info ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info li{
    max-width: 50%;
    margin: 15px;
    
}
.info img{
    max-width: 50%;
    border-radius: 15px;
}
/*middle*/
.middle {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote {
    padding: 60px;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    
}
.quote p {
    font-style: normal;
    font-weight: 400;
    text-align: right;
}
/*middle-bottom*/

.middle-bottom {
    
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.emphasis {
    background-color:#3882F6;
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    border-radius: 5px;
    align-items: center;
}
.button .sign-up {
    border-color:#F9FAF8;
    outline-style: none;
}
/*footer*/ 

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:#1F2937;
    color:#F9FAF8;

}